<!DOCTYPE html>

<html>
  <head>
    <title>Is the Flatiron School Open?</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="/application.css" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>
  <link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css?v=2.1.2" media="screen" />
  <script type="text/javascript" src="/application.js"></script>
  </head>
  <body>

  <header>
    The school is currently <%= @status %>.<br/>
    What would Tebow do?
  </header>

  <div id="wrapper" class="tebow">
    <form name="input" action="/" method="post" id="submit_selected">

    <% if @stat.status == true %>
        <div class="input-option" id="1">Leave it open</div>
        <div class="input-option" id="0">Shut 'er down!</div>
    <% else %>
        <div class="input-option" id="1">Open that bad boy!</div>
        <div class="input-option" id="0">Keep it closed, bro</div>
    <% end %>

      <input type="hidden" name="flatironschool[status]" id="selected_choice" />
      <input type="submit" value="Submit">
    </form>
  </div>
  </body>
  <footer>
    <span>All Your Rights <code>Belongs_to</code> Us</span>
  </footer>
</html>